.contact-form {
display: flex;
justify-content: center;
flex-direction: column;
padding-top: 5vh;
color: chartreuse;
padding-left: 25vw;
padding-right: 25vw;
}


.button--container {
    display:flex;
    align-content: space-around;
    justify-content: center;
    
}

.button { 
    background-color:#F4D1AE;
    font-family: "lato";
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.herocontent { 
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: center;
    font-family: "lato";
    color: #12263A;
    font-size: 40px;
    font-weight: bold;
  
  }

  .herocontenttwo { 
    text-align: center;
    font-family: "lato";
    color: #12263A;
 
  }

.mformbox{ 
 background-color:#F4EDEA;
 padding-bottom: 50px;
 margin-left: 10%;
 margin-right: 10%;



  }

  .whitebox{
      
      padding-bottom: 30px;
      background-color: white;

  }


 